@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@font-face {
    font-family: 'Cerebri';
    src: url('../../../src/fonts/cerebrisans-light.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../../../src/fonts/cerebrisans-book.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../../../src/fonts/cerebrisans-medium.woff');
    font-weight: 700;
}

html {
    font-size: 62.5%;
}

.text-merge {
    color: $color-merge;
}

.big-number.text-xl {
    font-size: 1.7rem;
}

.fa {
    @extend %fa-icon;

    &.fas {
        @extend .fas;
    }

    &.far {
        @extend .far;
    }

    &:before {
        margin-right: 5px;
    }

    &.fa-file-alt:before {
        content: fa-content($fa-var-file-alt);
    }

    &.fa-comment-alt:before {
        content: fa-content($fa-var-comment-alt);
    }

    &.fa-code-branch:before {
        content: fa-content($fa-var-code-branch);
        margin-right: 0;
        transform: rotate(180deg);
    }
}

.text-xs {
    font-size: 1.1rem !important;
}

.text-s {
    font-size: 1.2rem;
}

.text-m {
    font-size: 1.3rem;
}

.text-lg {
    font-size: 2.1rem !important;
}

.text-orange {
    color: $color-light-orange;
}

.text-green {
    color: $color-green;
}

.text-turquoise {
    color: $color-turquoise;
}

.text-blue {
    color: $color-blue;
}

.small-title {
    line-height: 2rem;
}
