@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@font-face {
    font-family: 'Cerebri';
    src: url('../../../src/fonts/cerebrisans-book.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../../../src/fonts/cerebrisans-medium.woff');
    font-weight: 700;
}

.text-merge {
    color: $color-merge;
}

.fa {
    @extend %fa-icon;

    &.fas {
        @extend .fas;
    }

    &.far {
        @extend .far;
    }

    &:before {
        margin-right: 5px;
    }

    &.fa-file-alt:before {
        content: fa-content($fa-var-file-alt);
    }

    &.fa-comment-alt:before {
        content: fa-content($fa-var-comment-alt);
    }

    &.fa-code-branch:before {
        content: fa-content($fa-var-code-branch);
        margin-right: 0;
        transform: rotate(180deg);
    }
}
