/**
 * Override grid sizes
 * https://getbootstrap.com/docs/4.3/layout/grid/#variables
 */

$grid-gutter-width: 20px;

$grid-breakpoints: (
    // Phone
    xs: 0,
    // Tablet
    sm: 768px,
    // Small screen
    md: 992px,
    // Medium screen
    lg: 1200px,
    // Large screen
    xl: 1300px,
);

$container-max-widths: (
    sm: 720px,
    md: 960px,
    lg: 1140px,
    xl: 1280px
);

/**
 * Override global settings
 * https://getbootstrap.com/docs/4.3/content/typography/#global-settings
 */

$body-bg: $at-main-bg;


////////////// Override Typography Settings //////////////

// Override Font family
$font-family-sans-serif: 'Cerebri', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Override Font sizes

$font-size-base:              1.2rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .75 !default;


////////////// Override Colors //////////////

// Color variables

$theme-colors: (
        "primary": $color-primary,
        "secondary": $color-secondary,
        "success": $color-success,
        "danger": $color-danger,
        "warning": $color-warning,
        "info": $color-info,
        "light": $color-light,
        "bright": $color-bright,
        "dark": $color-dark
);

$colors: (
        "blue": $color-blue,
        "purple": $color-purple,
        "pink": $color-pink,
        "red": $color-red,
        "orange": $color-light-orange,
        "yellow": $color-yellow,
        "green": $color-green
);

// Spacing

$spacer: 0.1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * 5),
    2: ($spacer * 10),
    3: ($spacer * 15),
    4: ($spacer * 20),
    5: ($spacer * 30),
    6: ($spacer * 60),

    // Specific pixel spacers

    12: ($spacer * 12),
    24: ($spacer * 24)
)
