/**
 * Override grid sizes
 * https://getbootstrap.com/docs/4.3/layout/grid/#variables
 */

$grid-gutter-width: 20px;

$grid-breakpoints: (
    // Phone
    xs: 0,
    // Tablet
    sm: 768px,
    // Small screen
    md: 992px,
    // Medium screen
    lg: 1200px,
    // Large screen
    xl: 1300px,
);

$container-max-widths: (
    sm: 720px,
    md: 960px,
    lg: 1140px,
    xl: 1280px
);

/**
 * Override global settings
 * https://getbootstrap.com/docs/4.3/content/typography/#global-settings
 */

$body-bg: $at-main-bg;
$secondary: #E7E6EB;


////////////// Override Typography Settings //////////////

// Override Font family
$font-family-sans-serif: 'Cerebri', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

// Override Font sizes

$font-size-base:              .875rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .75 !default;


////////////// Override Colors //////////////

// Color variables

$theme-colors: (
        "primary": #FF7427,
        "secondary": #8889A1,
        "success": #2FCC71,
        "danger": #EF3837,
        "warning": #FFC508,
        "info": #147EEC,
        "light": #FAFAFB,
        "dark": #121343
);

$colors: (
        "blue": #147EEC,
        "purple": #9260E2,
        "pink": #FC1763,
        "red": #EF3837,
        "orange": #FF7427,
        "yellow": #FFC508,
        "green": #2FCC71
) !default;
