@import 'variables.scss';
@import 'overrides.scss';

@import '~react-vis/dist/style.css';
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2.scss';

@import 'typography.scss';

.app-logo {
    height: 50px;
}

.card {
    &:hover {
        background: transparent;
        cursor: pointer;
    }

    &.active {
        background: #eee;

        &:hover {
            border-width: 1px;
            cursor: default;
        }
    }
}
