@import 'variables.scss';
@import 'overrides.scss';

@import '~react-vis/dist/style.css';
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2.scss';

@import 'typography.scss';

.app-logo {
    height: 50px;
}

.pipeline-thumbnail {
    &:hover {
        background: transparent;
        cursor: pointer;
    }

    &.active {
        color: white;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        padding-bottom: 10px;

        &:hover {
            cursor: default;
        }
    }
}
