.badge {
    border-radius: .4rem !important;
    font-size: 1.1rem !important;
    padding: .5rem .8rem !important;

    &.badge-pill {
        border-radius: 2rem !important;
        padding: .3rem .8rem !important;
    }

    &.badge-danger {
        background: rgba($red,0.2);
        color: $red;
    }

    &.badge-success {
        background: rgba($green,0.2);
        color: $green;
    }

    &.badge-secondary {
        background: $at-border-color;
        color: $secondary;
    }

    // Setting Outlined Badges

    &.badge-outlined {
        background: transparent;
        border: 1px solid;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 400;
        padding: .4rem 1rem !important;
        min-width: 100px;
        line-height: 1.8rem;

        &.badge-primary {
            border-color: $primary;
            color: $secondary;
        }

        &.badge-secondary {
            border-color: $secondary;
            color: $secondary;
        }

        &.badge-success {
            border-color: $green;
            color: $green;
        }

        &.badge-warning {
            border-color: $warning;
            color: $warning;
        }

        &.badge-info {
            border-color: $info;
            color: $info;
        }

        &.badge-danger {
            border-color: $danger;
            color: $danger;
        }

        &.label-wip,
        &.label-review-requested {
            border-color: $color-wip;
            color: $color-wip;
        }
        &.label-review-pending,
        &.label-review-submitted,
        &.label-review-rejected,
        &.label-review-approval {
            border-color: $color-review;
            color: $color-review;
        }
        &.label-merge-pending,
        &.label-merged {
            border-color: $color-merge;
            color: $color-merge;
        }
        &.label-release-pending,
        &.label-released {
            border-color: $color-release;
            color: $color-release;
        }

        &.label-closed {
            border-color: $color-done;
            color: $color-done;
        }
    }
}
