.btn {

    &-large {
        font-size: 1.3rem !important;
        padding: 0.75rem 3rem !important;
    }

    &-xlarge {
        font-size: 1.8rem !important;
        min-width: 25rem;
        padding: 1.25rem 3rem !important;
    }

    &:hover {
        opacity: 0.7;
    }

    &.btn-orange {
        background: $color-orange;
        color: $white;

        &:hover,
        &:active,
        &:focus {
            color: $white;
        }

        &.btn-disabled {
            @extend .btn-dark;
            opacity: .2;
        }
    }
}
