.navbar-nav .dropdown .dropdown-menu {
    $menuWidth: 30rem;
    $menuImageWidth: 6rem;
    $menuHorizontalPadding: map-get($spacers, 3);
    $menuUserLeftMargin: map-get($spacers, 2);

    width: $menuWidth !important;
    padding: 0;

    .img-profile {
        height: $menuImageWidth;
    }

    .userData {
        width: $menuWidth - $menuImageWidth - 2 * $menuHorizontalPadding - $menuUserLeftMargin;
        margin-left: $menuUserLeftMargin;
        font-size: 1.5rem;
    }

    .menuItem {
        padding-left: $menuHorizontalPadding;
        padding-right: $menuHorizontalPadding;
        min-height: 4.3rem;
    }

    .invitationCreator {
        $copyButtonWidth: 7.5rem;

        .desc {
            $invitationDescMargin: map-get($spacers, 3);
            width: $menuWidth - $copyButtonWidth - 2 * $menuHorizontalPadding - $invitationDescMargin;
            margin-right: $invitationDescMargin;
        }

        button {
            width: $copyButtonWidth;

            &:hover .text-secondary {
                color: $white !important;
            }
        }
    }
}

.topbar .nav-item .nav-link .img-profile {
    height: 3rem !important;
    width: 3rem !important;
}

.dropdown-toggle {
    height: 3.2rem;

    &:hover {
        opacity: 1;
    }

    &::after {
        color: $color-secondary;
        display: block;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }

    &.btn-white {
        background: $white;
        border: 1px solid $at-border-color;
        border-radius: 0;
        color: $color-dark !important;
        min-width: 14rem;
        text-align: left;
    }
}

.dropdown-menu {
    min-width: 14rem !important;
    font-weight: 400;

    .dropdown-item {
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
    }

    &.dropdown-card {
        background-color: $at-main-bg !important;
        min-width: 45rem !important;
    }
}

.simple-dropdown {
    &.ucfirst *:first-letter {
        text-transform: uppercase;
    }

    &.releases-dropdown {
        width: 12rem;
    }
}
