.navbar-nav .dropdown .dropdown-menu {
    $menuWidth: 30rem;
    $menuImageWidth: 6rem;
    $menuHorizontalPadding: map-get($spacers, 3);
    $menuUserLeftMargin: map-get($spacers, 2);

    width: $menuWidth !important;
    padding: 0;

    .img-profile {
        height: $menuImageWidth;
    }

    .userData {
        width: $menuWidth - $menuImageWidth - 2 * $menuHorizontalPadding - $menuUserLeftMargin;
        margin-left: $menuUserLeftMargin;
        font-size: 1.5rem;
    }

    .menuItem {
        padding-left: $menuHorizontalPadding;
        padding-right: $menuHorizontalPadding;
    }

    .invitationCreator {
        $copyButtonWidth: 5.5rem;

        .desc {
            $invitationDescMargin: map-get($spacers, 3);
            width: $menuWidth - $copyButtonWidth - 2 * $menuHorizontalPadding - $invitationDescMargin;
            margin-right: $invitationDescMargin;
        }

        button {
            width: $copyButtonWidth;
        }
    }
}

.topbar .nav-item .nav-link .img-profile {
    height: 3rem !important;
    width: 3rem !important;
}
