.filters  {
  position: relative;
  z-index: 10;
  .datepicker {
    height: 38px;
  }
}

.filter {
  min-width: 280px;
}

@mixin filter-avatar {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 0 0 2px #ccc;
  margin-right: 0.6rem;
}

.filter-dropdown {
  cursor: pointer;
  background: white;
  border: 1px solid $at-border-color;
  display: flex;
  padding: 8px 16px;
  position: relative;
  width: 190px;
  height: 40px;
  justify-content: space-between;
  transition: ease-in-out border 0.3s;

  & svg {
    fill: hsl(0,0%,70%);
  }
  &:hover, &.open {
    border-color: hsl(0,0%,70%);
    & svg {
      fill: $color-secondary;
    }
  }

  &-label {
    font-size: 1.2rem;
    color: $color-dark;
    margin-right: 8px;
    font-weight: 500;
  }

  &-all {
    margin-right: 8px;
  }

  &-pill {
    background: $color-turquoise;
    color: $white;
    font-size: 1rem;
    padding: 0px 6px;
    border-radius: 4px;
    height: 1.5rem;
    line-height: 1.5rem;
  }

  &-menu-all {
    padding: 12px;
    background: #F3F3F5;
    border-bottom: 1px solid $at-border-color;
    display: flex;
    align-items: center;
    color: $color-dark;
    cursor: pointer;
  }

  &-option {
    display: flex;
  }

  &-option-img {
    @include filter-avatar()
  }

  &-option-name {
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-option-user {
    color: $color-secondary;
    font-weight: 300;
  }
  &-option-prefix {
    @include filter-avatar();
    color: white;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
  }
}

.filter-buttons {
  margin-top: -1px;
}
