.filters  {
  position: relative;
  z-index: 10;

  .filter {
    min-width: 258px;
  }

  .datepicker {
    height: 38px;
  }
}

.filter-dropdown {
  cursor: pointer;
  background: white;
  border: 1px solid #dbdbdb;
  display: flex;
  padding: 8px 16px;
  position: relative;
  width: 250px;
  height: 38.61px;
  justify-content: space-between;

  &-label {
    font-size: 1.2rem;
    color: #121343;
    margin-right: 8px;
    font-weight: 500;
  }

  &-all {
    margin-right: 8px;
  }

  &-pill {
    background: #24C7CC;
    color: white;
    font-size: 11px;
    padding: 2px 7px;
    border-radius: 5px;
  }

  &-menu-all {
    padding: 8px 12px;
    background: #E7E7EC;
    display: flex;
    align-items: center;
    color: #121343;
    cursor: pointer;
  }

  &-option {
    display: flex;
  }

  &-option-img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: 0 0 2px #ccc;
  }

  &-option-name {
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-option-user {
    color: #C6C7D1;
  }
}

