.ath-tabs .tab {
    cursor: pointer;

    &.active,
    &.active:hover {
        @extend .border-bottom-primary;
        cursor: default;
    }

    &:hover {
        border-bottom: 0.25rem solid $at-border-color !important;
    }
}
