.table {
    color: $secondary;

    th,
    td {
        padding: 1rem !important;
    }
}

#dataTable {
    border-spacing: 0 3px !important;
    border: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 1.5rem !important;

    thead {
        background-color: rgba($at-border-color, 0.5) !important;
        border: 1px solid $at-border-color !important;
        color: $secondary;

        &.table-no-tit {
            display: block;
            height: 10px;
            width: 0;
            margin: -16px 0;
        }

        tr {
            height: 30px;
        }

        th {
            @extend .text-xs;
            @extend .text-uppercase;
            padding: 0.8rem 0 1rem 1rem !important;
            text-align: left !important;
            transform: translateY(2px);
            border: 0;

            &.pr-merged {
                padding-right: 0 !important;
                width: 30px !important;
            }

            &.sorting_asc,
            &.sorting_desc {
                color: $color-dark !important;
            }

            &.sorting {
                &:after,
                &:before {
                    opacity: 0 !important;
                }

                &:hover {

                    &:after {
                        content: '\2193' !important;
                        position: static;
                        display: inline;
                        margin-left: 1rem;
                        opacity: 0.7 !important;
                    }
                }
            }

            &.sorting_desc,
            &.sorting_asc {
                &:before {
                    content: none !important;
                }

                &:after {
                    opacity: 1 !important;
                    position: static;
                    display: inline;
                    margin-left: 1rem;
                    color: $dark !important;
                }
            }

            &.sorting_desc:after {
                content: '\2191' !important;
            }

            &.sorting_asc:after {
                content: '\2193' !important;
            }
        }
    }

    td {
        border-width: 1px 0 !important;
        background-color: white;
        font-weight: 300;
        vertical-align: middle;

        &:last-child {
            border-right-width: 1px !important;
        }

        &:first-child {
            border-left-width: 1px !important;
        }

        &.pr-size,
        &.pr-cycle-time {
            white-space: nowrap;
        }

        &.pr-cycle-time {
            font-size: 1.1rem;
        }

        &.pr-reviewers,
        &.pr-size {
            min-width: 140px;
            width: 140px;
        }

        &.pr-comments,
        &.pr-cycle-time {
            width: 80px;
        }

        &.pr-merged {
            vertical-align: middle;
            padding: 0 0 0 12px;
            text-align: center;
            width: 60px;
        }
    }

    .table-title {
        font-size: 1.4rem;
        font-weight: 400;
        max-width: 500px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        a:hover {
            text-decoration: underline !important;
        }
    }

    .table-creators {
        font-size: 1rem;

        * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .badge-outlined {
        width: 100%;
    }
}

.table-filter .form-control {
    width: 40rem !important;
}

.table-responsive {
    overflow-x: unset !important
}

div.dataTables_wrapper div{

    &.dataTables_length select {
        margin-left: .6rem;
        width: 5rem !important;
    }
}

$mainAvatarSize: 26px;

.pr-user-avatar {
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    display: inline-block;
    border-radius: $mainAvatarSize;
    width: $mainAvatarSize;
    height: $mainAvatarSize;
    margin-right: -.4 * $mainAvatarSize;
    border: 2px solid white;
    vertical-align: text-top;
    cursor: default;

    &.pr-user-unknown {
        line-height: $mainAvatarSize - 4;
        background: $at-border-color;
        text-align: center;
        color: $secondary;
    }
}

$smallAvatarSize: 22px;

.pr-main .pr-user-avatar {
    width: $smallAvatarSize;
    height: $smallAvatarSize;
    line-height: $smallAvatarSize - 2;
    margin-right: -.4 * $smallAvatarSize;

    &+.pr-created-by {
        line-height: 1rem;
        margin-left: .4 * $smallAvatarSize;
    }
}
