.chart-tooltip {
    background: $white;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    color: $dark;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 300;
    max-width: 250px;
    padding: 1.5rem;
    text-align: left;
    width: fit-content;

    .card {
        border: none;
    }

    .mb-2:last-child,
    p:last-child {
        margin-bottom: 0 !important;
    }
}

// User tooltip

.user-avatar {
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border-radius: 2rem;
    border: 2px solid white;
    vertical-align: middle;
    cursor: default;
}

.user-info {
    font-size: 1.5rem;
}
