.athenian-tooltip {
    width: fit-content !important;
    max-width: 250px !important;
    padding: 1rem 1.5rem !important;
    box-shadow: 0 0 7px rgba(0,0,0,0.2) !important;
    color: $color-dark !important;
    background-color: $white !important;
    font-size: 1.2rem !important;
    text-align: left !important;
    border-radius: 0 !important;

    a {
        pointer-events: auto !important;

        &:hover {
            text-decoration: underline !important;
        }
    }

    b {
        display: inline-block;
        margin-top: 1em;
    }

    .code {
        font-family: 'Courier New', Courier, monospace;
    }
}

// Charts tooltips

.chart-tooltip {
    font-size: 1rem !important;
    font-weight: 300;

    .mb-2:last-child,
    p:last-child {
        margin-bottom: 0 !important;
    }
}

// User tooltip

.user-avatar {
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border-radius: 2rem;
    border: 2px solid white;
    vertical-align: middle;
    cursor: default;
}

.user-info {
    font-size: 1.5rem;
}

// Info Tooltip

.info-tooltip {
    font-size: 1.4rem;
    line-height: 1.2rem;
}

// PR table tooltips (bootstrap tooltips)

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $white !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: $white !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: $white !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: $white !important;
}
