.app-logo {
    height: 24px;
}

.navbar {
    height: 42px;
    padding: 0;
}

#mainBreadcrumbs {
    display: block;

    li {
        display: inline-block;

        &.active {
            font-size: 1.5rem;
        }
    }
}
