body {
  background: #f5f5f5;
}

.row {
  width: 100%;
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.app-header {
  color: #515d5e;
  border-bottom: 1px solid #515d5e;
  background: white;
}

.app-logo {
  height: 50px;
}

.mainTitle {
  font-size: 20px;
}